.cardpanel {
  .lended,
  .borrowed {
    cursor: pointer;
  }
}
.h-7-8 {
  height: calc(87.5% - 2.25rem);
}
@media (max-width: 450px) {
  .h-7-8 {
    height: calc(87.5% - 4rem);
  }
}

.lended:hover {
  box-shadow: 5px 5px rgb(5, 116, 5);
}

.borrowed:hover {
  box-shadow: 5px 5px rgb(161, 15, 15);
}

.non-pay:hover {
  box-shadow: 5px 5px rgb(97, 97, 98);
}
